#md h1, #md h2, #md h3, #md h4 { 
  color: #000;
}
#md h1 {
  font-size: 20px;
}
#md h2 {
  font-size: 16px;
}
#md h3 {
  font-size: 14px;
}

#md h4 {
  font-size: 12px;
}
#md pre code {
   background-image:url(data:image/svg+xml;charset=utf-8,%3Csvg width='304' height='304' viewBox='0…07z' fill='%2345404b' fill-opacity='.15' fill-rule='evenodd'/%3E%3C/svg%3E));
}
